keras==2.15.0
matplotlib==3.8.2
numpy==1.26.3
pandas==2.2.0
pandas_datareader==0.10.0
plotly==5.18.0
prophet==1.1.5
scikit_learn
streamlit==1.31.1
streamlit_option_menu==0.3.2
yfinance==0.2.35
datetime==5.5
keras.models==0.0.7
tensorflow==2.15
